:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 58%);
  --blue-900: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --red: hsl(4, 100%, 67%);
  --gradient: linear-gradient(
    90deg,
    rgba(255, 106, 58, 1) 0%,
    rgba(255, 82, 123, 1) 100%
  );

  /* Typography */
  --ff: "Roboto", sans-serif;

  /* Text Preset 1  Roboto Bold */
  --fs: 56px;
  --fs-1: 40px; /*(Mobile) */
  --lh: 1;
  --ls: 0;
  --fw-bold: 700;

  /* Text Preset 2 (Bold) Roboto Bold  */
  --fs-2: 16px;
  --lh-1: 1.5;
  --fw-regular: 400;

  /* Text Preset 3  Roboto Bold*/
  --fs-3: 12px;

  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1300: 104px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  background-color: var(--blue-700);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

/* Sign-up form start */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: var(--spacing-400);
  padding: var(--spacing-400);
  gap: var(--spacing-800);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.card-title {
  font-size: var(--fs);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls);
  line-height: var(--lh);
}
.card-text {
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
}
.card-list {
  list-style-type: none;
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label-header{
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-100);
  
}
.label-header label {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
}
.error-msg{
  display: none;
  color:var(--red);
   font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
}
.email_input{
  width: 100%;
  padding: var(--spacing-200);
  border-radius: var(--spacing-100);
  border: 1px solid var(--grey);
}
.email_input::placeholder{
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
  color: var(--grey);
}
.email_input.error{
  display: none;
border: 1px solid var(--red);
}
.email_input.error::placeholder{
color: var(--red);
}

.submit_button {
  width: 100%;
  background-color: var(--blue-900);
  padding: var(--spacing-200);
  margin-top: var(--spacing-300);
  color: var(--white);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls);
  line-height: var(--lh-1);
  border-radius: var(--spacing-100);
  border: 1px solid var(--grey);
}

button:hover {
  background: #ff6a3a;
  background: linear-gradient(
    90deg,
    rgba(255, 106, 58, 1) 0%,
    rgba(255, 82, 123, 1) 100%
  );
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (max-width: 1024px) {
  .card {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "img"
      "content";
    align-items: center;
    gap: 0px;
  }
  .card-img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: var(--spacing-500) 0 var(--spacing-100) 0;
  }
  .card-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls);
    line-height: var(--lh);
  }
}

@media (max-width: 768px) {
  .card {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "img"
      "content";
    align-items: center;
    padding: 0px;
  }
  .card-img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: var(--spacing-500) var(--spacing-300);
  }
  .card-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls);
    line-height: var(--lh);
  }
}
/* Sign-up form end */

/* Success message start  */
.card_success_message {
  width: 31.5rem; /* 504px */
  display: none;
  flex-direction: column;
  gap: var(--spacing-400);
  border: 1px solid var(--white);
  border-radius: var(--spacing-400);
  padding: var(--spacing-800);
  background-color: var(--white);
}

.success_title {
  font-size: var(--fs);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls);
  line-height: var(--lh);
  color: var(--blue-900);
}
.success_text {
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-1);
  line-height: var(--lh-1);
  color: var(--blue-900);
}
.success_btn {
  padding: var(--spacing-200);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-1);
  line-height: var(--lh-1);
  color: var(--white);
  background-color: var(--blue-900);
  border-radius: var(--spacing-100);
  cursor: pointer;
  transition: background 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;
  border: 0px;
}
.success_btn:hover,
.success_btn:focus-visible {
  background-color: #ff6a3a;
  background-image: linear-gradient(
    90deg,
    rgba(255, 106, 58, 1) 0%,
    rgba(255, 82, 123, 1) 100%
  );

  box-shadow: 0 10px 20px rgba(255, 106, 58, 0.35);
  transform: translateY(-1px);
}
@media (max-width: 768px) {
  body {
    background-color: var(--white);
  }
  .card_success_message {
    width: 375px;
    height: 623px;
    display: none;
    justify-content: center;
    padding: var(--spacing-300);
  }
  .success_btn {
    margin-top: auto;
  }
}
/* Success message end */
